<h1 mat-dialog-title>Add channel</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="mr-16 mt-4" appearance="outline">
      <mat-label>Chat name</mat-label>
      <input [disabled]="" matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox class="example-margin"
      >Checked</mat-checkbox
    >
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close()">Cancel</button>
  <button (click)="saveChat()" mat-button cdkFocusInitial>Save</button>
</div>
