.select-users-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;

  button {
    margin-right: 6px;
  }
}

mat-form-field {
  margin-top: 10px;
  padding-top: 10px;
}

.color-black {
  color: black;
}

.start{
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;

  :last-child{
    color: white;
    background-color:#3f0f40 ;
  }
}

@media (max-width: 750px) {
  .select-users-container {
    width: 250px;
  }
}
