<div class="header">
  <p><b>Thread messages</b></p>
  <img (click)="closeDialog()" src="./assets/img/close.png" alt="" />
</div>
<div class="thread-chat">
  <div class="all-messages-container" #chat>
    <div class="main-content" *ngFor="let message of messages">
      <div class="chat-message">
        <img
          class="chat-message-img"
          [src]="
            findUser(message.userId)?.photoURL ??
            './assets/img/image-placeholder.png'
          "
        />
        <div class="chat-message-text">
          <div class="message-header">
            <p class="message-name">
              <b>{{ findUser(message.userId)?.displayName }}</b>
            </p>
            <p class="message-time">{{ message.createdAt }} Uhr</p>
          </div>
          <p class="message-text">{{ message.message }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-input">
    <div>
      <input
        (keydown.enter)="sendMessage(message.value)"
        type="text"
        #message
        placeholder="Message"
        [(ngModel)]="messageValue"
      />
      <button (click)="sendMessage(message.value)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
