<div mat-dialog-content>
  <b class="color-black">Who should be in this Chat?</b>
  <div class="select-users-container">
    <mat-form-field>
      <mat-label>Add Users</mat-label>
      <mat-select (click)="filterUsers()" [(ngModel)]="selectedUser" name="selectedUser">
        <mat-option *ngFor="let user of showUsers; let i=index" [value]="user">
      <div class="option">{{ user.displayName }} <img src="{{user.photoURL}}" alt=""></div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="end" mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close()">Cancel</button>
  <button (click)="saveChatAndAddUser()" mat-button cdkFocusInitial>Save</button>
</div>