<div mat-dialog-content>
  <b class="color-black">Who should be in this Chat?</b>
  <div class="select-users-container">
    <mat-form-field>
      <mat-label>Add User</mat-label>
      <mat-select (click)="filterUsers()" [(ngModel)]="selectedUser" name="selectedUser">
        <ng-container *ngIf="showUsers.length > 0; else noUsersAvailable">
          <mat-option *ngFor="let user of showUsers; let i=index" [value]="user">
            <div class="option">{{ user.displayName }} <img src="{{user.photoURL}} ??
            './assets/img/image-placeholder.png'" alt=""></div>
          </mat-option>
        </ng-container>
        <ng-template #noUsersAvailable>
          <mat-option disabled>No user available</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="end" mat-dialog-actions>
  <button mat-button (click)="this.dialogRef.close()">Cancel</button>
  <button (click)="saveChatAndAddUser()" mat-button cdkFocusInitial>Save</button>
</div>