<div class="chat">
  <div class="header">
    <div class="personal-information">
      <div></div>
      Name
    </div>
  </div>

  <div class="main-content" *ngFor="let message of allMessages">
    <div class="chat-message">
      <img />
      <div class="chat-message-text">
        <div class="message-header">
          <p class="message-name">
            <b>{{ message.name }}</b>
          </p>
          <p class="message-time">{{ message.time }} Uhr</p>
        </div>
        <p class="message-text">{{ message.message }}</p>
      </div>
    </div>
  </div>

  <div class="text-input">
    <div>
      <input type="text" #message placeholder="Message" />
      <button (click)="sendMessage(message.value)"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</div>
