<mat-drawer-container class="example-container">
  <mat-drawer opened mode="side" class="sidenav">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="chat" >
      <div class="header">
        <div class="personal-information">
          <div></div>
          
        </div>
        <button *ngIf="authService.currentUser$ | async as user" mat-button [matMenuTriggerFor]="userMenu" class="current-user">
          <img [src]="user.photoURL ?? './assets/img/image-placeholder.png'" alt="">
name
          <mat-icon>expand_more</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="authService.logOut()">Logout</button>
          <button mat-menu-item routerLink="/profile">Edit Profile</button>
        </mat-menu>

        ss
      </div>

      <ng-container *ngIf="chat$ | async as chat" >
        <div class="all-messages-container" #chat>
          <div class="main-content" *ngFor="let message of chat.messages">
            <div class="chat-message">
              <img />
              <div class="chat-message-text">
                <div class="message-header">
                  <p class="message-name">
                    <b>{{ findUser(message.userId).name }}</b>
                  </p>
                  <p class="message-time">{{ message.createdAt }} Uhr</p>
                </div>
                <p class="message-text">{{ message.message }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-input" >
          <div>
            <input type="text" #message placeholder="Message" />
            <button (click)="sendMessage(message.value, chat)">
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button (click)="createGroupChat(message.value)">
              <mat-icon>chevron_up</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
