.chat {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  width: calc(100% - 250px);
  background-color: white;
  z-index: 5;
}

.current-user {
  margin-right: 16px;

  img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    margin-right: 8px;
    object-fit: cover;
    object-position: center;
  }


}

.personal-information {
  padding: 3px;
  border-radius: 4px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 6px;
  }

  div {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 4px;
    margin-right: 8px;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.04);
  }
}

.main-content {
  display: flex;
  flex-direction: column-reverse;
}

.text-input {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: calc(100% - 250px);

  div {
    margin: 16px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    display: flex;

    input {
      border: none;
      width: 100%;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    button {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
      border-radius: 4px;

      background-color: white;
      color: lightgray;

      &:hover {
        background-color: #158567;
        color: white;
      }
    }
  }
}

.all-messages-container {
  height: calc(100vh - 92px - 57px);
  position: relative;
  top: 57px;
  overflow: auto;
}

.chat-message {
  display: flex;
  align-items: center;
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.04);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.chat-message-text {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-header {
  display: flex;
}

.message-name {
  margin: 0px;
  margin-right: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.message-time {
  margin: 0px;
  color: gray;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}

.message-text {
  margin: 0px;
}

.mat-drawer-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #3f0f40;
}
