<mat-drawer-container class="example-container">
  <mat-drawer opened mode="side" class="sidenav" [ngClass]="{'opened-sidenav': isMenuOpen}" (click)="toggleMenu()">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="chat">
      <ng-container *ngIf="chat$ | async as chat">
        <div class="header">
          <div (click)="toggleMenu()" class="open-menu"><img src='./assets/img/menu.png'></div>
          <div class="personal-information">
            <img
              [src]="
                showChatImg(chat.groupchat, chat.userIds) ??
                './assets/img/image-placeholder.png'
              "
            />

            {{ showChatName(chat.chatName, chat.groupchat, chat.userIds) }}
          </div>

          <button
            *ngIf="user$ | async as user"
            mat-button
            [matMenuTriggerFor]="userMenu"
            class="current-user"
          >
            <div class="flex-container">
              <div class="center-content">
                <img
                  [src]="user?.photoURL ?? './assets/img/image-placeholder.png'"
                  alt=""
                />
                <span class="current-user-name">{{ user.displayName }}</span>
              </div>
              <mat-icon>expand_more</mat-icon>
            </div>
          </button>

          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="openEditDialog()">
              Edit Profile
            </button>
            <button mat-menu-item (click)="authService.logOut()">Logout</button>
          </mat-menu>
        </div>
      </ng-container>

      <ng-container *ngIf="chat$ | async as chat">
        <div class="all-messages-container" #chat>
          <div class="main-content" *ngFor="let message of chat.messages">
            <div class="chat-message">
              <img
                [src]="
                  findUser(message.userId)?.photoURL ??
                  './assets/img/image-placeholder.png'
                "
                alt=""
              />
              <div class="chat-message-text">
                <div class="message-header">
                  <p class="message-name">
                    <b (click)="openUserInfoDialog(findUser(message.userId))">{{
                      findUser(message.userId)?.displayName
                    }}</b>
                  </p>
                  <p class="message-time">{{ message.createdAt }} Uhr</p>
                </div>
                <p class="message-text">{{ message.message }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-input">
          <div>
            <input
              (keydown.enter)="sendMessage(message.value, chat)"
              type="text"
              #message
              placeholder="Message"
              [(ngModel)]="messageValue"
            />
            <button (click)="sendMessage(message.value, chat)">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
