.chat {
  display: flex;
  flex-direction: column;
}

.header {
  padding-inline: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 56px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.personal-information {
  padding: 3px;
  border-radius: 4px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  div {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 4px;
    margin-right: 8px;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.04);
  }
}

.main-content {
  display: flex;
  flex-direction: column-reverse;
}

.text-input {
  width: 100%;
  position: absolute;
  bottom: 0;

  div {
    margin: 16px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    display: flex;

    input {
      border: none;
      width: 100%;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    button {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
      border-radius: 4px;

      background-color: white;
      color: lightgray;

      &:hover {
        background-color: #158567;
        color: white;
      }
    }
  }
}

.chat-message {
  display: flex;
  align-items: center;
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.04);
  }

  img {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
  }
}

.chat-message-text {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-header {
  display: flex;
}

.message-name {
  margin: 0px;
  margin-right: 8px;
}

.message-time {
  margin: 0px;
  color: gray;
  font-size: 12px;
}

.message-text {
  margin: 0px;
}
