.content {
  padding: 20px;
}

.infoContent {
  text-align: center;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.display-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: start;
}

.name {
  font-size: 16px;
  margin-bottom: 10px;
}

.email, .phone, .address {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: start;
}
