<h1 mat-dialog-title>Add channel</h1>
<div class="content" mat-dialog-content>
  <img [src]="data.photoURL || './assets/img/image-placeholder.png'" alt="">
  <span *ngIf="data.displayName">Nickname: {{data.displayName}} </span>
  <span *ngIf="data.firstName">Vorname: {{data.firstName}}</span>
  <span *ngIf="data.lastName">Nachname: {{data.lastName}}</span>
  <span *ngIf="data.email" >Email: {{data.email}}</span>
  <span *ngIf="data.phoneNumber" >Phone: {{data.phoneNumber}}</span>
  <span *ngIf="data.address" >Adress: {{data.address}}</span>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>