.content {
  height: 100vh;
}

img {
  border: 1px solid black;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-header {
  height: 500px;
  background-color: orange;
  position: relative;
  text-align: center;
}

.picture-container {
  position: relative;
  bottom: -60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  button{
    position: absolute;
    right: -10px;
    bottom: 11px;
  }
}
