<div class="title">Your Company</div>
<ul>
  <div *ngFor="let chat of allChats">
    <li
      *ngIf="chat.groupchat && checkIfUserIsInChat(chat.userIds)"
      [routerLink]="['/client/' + chat.customIdName]"
    >
    <img [src]="'./assets/img/lock.png'" alt="" />
    {{ chat.chatName }}
    </li>
  </div>
  <div class="direct-chats">
    <div *ngFor="let chat of allChats">
      <li
        *ngIf="!chat.groupchat && checkIfUserIsInChat(chat.userIds)"
        [routerLink]="['/client/' + chat.customIdName]"
      >
        <img [src]="'./assets/img/image-placeholder.png'" alt="" />
        {{ showDirectChatName(chat.userIds) }}
      </li>
    </div>
  </div>
</ul>
