<div class="title" routerLink="/client">Slack-Clone</div>
<ul>
  <div *ngFor="let chat of allChats">
    <li *ngIf="chat.groupchat && checkIfUserIsInChat(chat.userIds)" [routerLink]="['/client/' + chat.customIdName]">
      <img [src]="'./assets/img/lock.png'" alt="" />
      {{ chat.chatName }}
    </li>
  </div>
  <li class="add-channel" (click)="openAddChannelDialog()">
    <mat-icon>add</mat-icon>
    Add Channel
  </li>
  <div class="direct-chats">
    <div *ngFor="let chat of allChats">
      <li *ngIf="!chat.groupchat && checkIfUserIsInChat(chat.userIds)" [routerLink]="['/client/' + chat.customIdName]">
        <div class="space">
          <div class="center">
            <img [src]="
            showDirectChatUser(chat.userIds)?.photoURL ??
            './assets/img/image-placeholder.png'
          " alt="" />
            <span>{{ showDirectChatUser(chat.userIds)?.displayName ?? "N/A" }}</span>
          </div>
          <svg (click)="openConformationDialog(chat)" class="d-none" xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <style>
              svg {
                fill: #ffffff
              }
            </style>
            <path
              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
          </svg>
        </div>
      </li>
    </div>
            <li class="add-channel" (click)="openAddChatDialog()">
              <mat-icon>add</mat-icon>
              Add Chat
            </li>
  </div>
</ul>