.title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-inline: 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
  color: white;
}

ul {
  padding: 0px;
  margin: 0px;
  margin-top: 16px;

  li {
    margin-inline: 8px;
    padding-left: 16px;
    padding-right: 8px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #c7b2ca;

    mat-icon {
      margin-right: 16px;
    }

    &:hover {
      background-color: rgba($color: white, $alpha: 0.1);
    }
  }
}

.direct-chats {
  margin-top: 16px;
}